.vs
.DS_Store
ASL
images
p01*
p02
p03
p04
p05
p06
p07
p08
p09
p10
p11
p12
p13
p14
p15
p16
*.zip
*-cmvDots.csv
*-cmvs.csv
*-com.csv
*-comAcc.csv
*-comVel.csv
*-forces.csv
*-iforces.csv
*-imoments.csv
*-moments.csv
*-omegaDots.csv
*-omegas.csv
*-pd.csv
*-pdd.csv
*-qd.csv
*-qdd.csv
*-velDots.csv
*-vels.csv
GTAGS
GPATH
GRTAGS
.vscode
DevIL
zzz
*.asv
ode-0.13
*.bz2
bin*
build*

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a

# Executables
*.out
*.app

# Crap
Debug/
Release/
Debug-soln/
Release-soln/
*.ncb
*.user
*.pdb
*~
*.swp
*.sdf
bin/*.exe
lib/*
Warrok.fbm/
*.swo